<!DOCTYPE html>
<html lang="en-US"><head><style type="text/css">.gm-control-active img{box-sizing:content-box;pointer-events:none}.gm-control-active:hover img:nth-child(1),.gm-control-active:active img:nth-child(1),.gm-control-active:active img:nth-child(2){display:none}
</style><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-ui-hover-effect{opacity:.7}.gm-ui-hover-effect:hover{opacity:1}
</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
    <%-infoCompany.metaSEO%>
    <meta name="google-site-verification" content="NY11yO-rPleJwJn2t2IsJDC-fEKlmjslzzVZF4sO_wE"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'GA_TRACKING_ID');
	</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="<%-href%>">
	<title><%-(areaTitle)?areaTitle:"Bất động sản"%> - <%-infoCompany.location.city%> - <%-infoCompany.companyName%></title>
<meta property="og:title" content="Recent Properties"><link rel="alternate" type="application/rss+xml" title="<%-infoCompany.companyName%> » Đất nền hoà xuân Đà Nẵng" href="./">
		<script src="./includes/js/wp-emoji-release.min.js?ver=4.4.1" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
	 #map {
	    height: 40em;
	  }
	  html, body {
	    height: 100%;
	    margin: 0;
	    padding: 0;
	  }
	  .icon-image-up{
	  	max-height: 226px;
	  	max-width: 270px;
	  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
<link rel="stylesheet" id="mapescape.css-css" href="./content/plugins/HappyReal/libraries/mapescape/css/mapescape.css?ver=20160604" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="./stylesheets/customTable.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" id="fontawesome-css" href="./content/themes/HappyReal/assets/libraries/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="pictopro-css" href="./content/themes/HappyReal/assets/libraries/fonts/PictoPro/style.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="HappyReal-css-css" href="./content/themes/HappyReal/assets/css/HappyReal.css?ver=20170117" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="./content/themes/HappyReal/style.css?ver=4.4.1" type="text/css" media="all">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1F9nnU_h75yopZAOtHw-atE4Ix54YcM&libraries=places"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery.chained.remote.custom.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/js/HappyReal.js?ver=20161017"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<link rel="stylesheet" href="./css/normalize.css" />
<link rel="stylesheet" href="./css/ion.rangeSlider.css" />
<link rel="stylesheet" href="./css/ion.rangeSlider.skinFlat.css" />
<link rel="stylesheet" href="./assets/css/fixer.css" />
</head>
<style type="text/css" media="screen">
	.fix-zalo{
		display: none;
	}
	.fix-icon-zalo{
		line-height: 1em;
		width: 20px;
		height: 20px;
		margin-right: 1em;
		background: url('./assets/images/zalo.png') no-repeat center center;
		background-size: 100%;
	}
	th{
		font-weight: normal;
		font-family: roboto !important;
	}
	@media screen and (min-width: 768px){
		.fix-zalo{
			display: flex;
		}
	}
</style>
<body class="home page page-id-268 page-template-default">
	<%-chatbox%>
<div class="page-wrapper">
	<div class="header">
		<nav class="navbar navbar-default">
			<div class="header-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="./"><img class="fix-logo" src="./logo/logo.jpg" alt="Home">							
							<span><%-infoCompany.companyName%></span>
						</a>
						<button type="button" class="navbar-toggle collapsed fix-pos" data-toggle="collapse" data-target="#primary-menu" >
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

					</div><!-- /.navbar-header -->
						<div class="navbar-info">
							<i class="pp pp-normal-phone"></i> <a href="tel:<%-infoCompany.phoneNumber%>‬‬"><%-infoCompany.phoneNumber%>‬‬</a>						
						</div><!-- /.navbar-info -->
						<div class="navbar-info">
							<i class="pp pp-normal-pencil"></i> <a href="mailto:<%-infoCompany.email%>"><%-infoCompany.email%></a>						
						</div><!-- /.navbar-info -->
						<div class="navbar-info fix-zalo">
							<div class="fix-icon-zalo"></div> <a href="http://zalo.me/<%-infoCompany.phoneNumber%>‬‬"><%-infoCompany.phoneNumber%>‬‬</a>
						</div><!-- /.navbar-info -->
						</a>
									</div><!-- /.container -->
					</div><!-- /.header-top -->
		
							<div class="header-bottom">
					<div class="container">
						<div class="menu-primary-container">
							<ul id="primary-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
								<li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496">
									<a href="/">Trang chủ</a>
								</li>
								<li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450">
									<a style="cursor: pointer">Các khu vực</a>
									<ul class="dropdown-menu sub-menu">
										<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454">
											<a href="/nguyen-tri-phuong" style="cursor: pointer">Nguyễn Tri Phương</a>
										</li>
										<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454">
											<a href="/nam-hoa-xuan" style="cursor: pointer">Nam Hòa Xuân</a>
										</li>
										<li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-455">
											<a href="/dao-vip" style="cursor: pointer">Đảo VIP</a>
										</li>
										<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480">
											<a href="/hoa-xuan-1a" style="cursor: pointer">Hòa Xuân 1A</a>
										</li>
										<li id="menu-item-487" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-487">
											<a href="/lang-chau-au-1" style="cursor: pointer">Làng Châu Âu</a>
										</li>
										<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-479">
											<a href="/lang-chau-au-2" style="cursor: pointer">Làng Châu Âu 2</a>
										</li>
									</ul>
								</li>
<li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="/bat-dong-san-video">Video</a></li>
<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="/gui-ban-<%-infoCompany.companyName.split(' ').join('-').toLowerCase()%>">Gửi Bán</a></li>
<li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="/lien-he-<%-infoCompany.companyName.split(' ').join('-').toLowerCase()%>">Liên Hệ</a></li>
</ul></div></div><!-- /.container -->
				</div><!-- /.header-bottom -->
					</nav>
	</div><!-- /.header -->
<script>
	var data = <%-JSON.stringify(arrArea)%>;
</script>
	<div class="main">
<script src="./js/events/happy-real-controls-map.js"></script>
<script src="./js/events/happy-real-script.js"></script>
<div id="map"></div>
		<div class="container">
				<div class="sidebar-top" style="margin-top: 1em;">
		


<!-- table -->
<div class="row">
	<div class="content col-sm-12 col-md-12" style="padding: 0px">
		<div class="container" style="padding: 0px">
		<table id="table-pagination" class="table table-striped table-hover table-success" cellspacing="0">
			<thead>
			    <tr>
	                <th scope="col" class="hidden-320px show-640px">#</th>
	                <th scope="col" class="hidden-320px show-720px">Ngày đăng</th>
	                <th scope="col" class="">Dự án</th>
	                <th scope="col">Khu</th>
	                <th scope="col" class="">Lô</th>
	                <th scope="col">Giá</th>
	                <th scope="col">Diện tích</th>
	                <th scope="col">Hướng</th>
	                <th scope="col" class="hidden-320px show-568px">Sổ đỏ</th>
	            </tr>
			</thead>
			<tbody>
				<%for (var i = 0; i < arrArea.length; i++) {%>
				<%var arrName = ["nguyen-tri-phuong-happy-real","dao-vip-happy-real","nam-hoa-xuan-happy-real","hoa-xuan-1a-happy-real","lang-chau-au-1-happy-real","lang-chau-au-2-happy-real"]%>
				<%var realName = ["Nguyễn Tri Phương","Đảo Vip","Nam Hòa Xuân","Hòa Xuân 1A","Làng Châu Âu 1","Làng Châu Âu 2"]%>
				    <tr class="clickShowDetails" id="<%-arrArea[i]._id%>">
				      	<th scope="row" class="hidden-320px show-640px"><%-i+1%></th>
				      	<td class="hidden-320px show-720px"><%-(new Date(Number(arrArea[i]['Ngày'])).getDate()<=9)?"0"+new Date(Number(arrArea[i]['Ngày'])).getDate():new Date(Number(arrArea[i]['Ngày'])).getDate()%>/<%-(new Date(Number(arrArea[i]['Ngày'])).getMonth()+1<=9)?"0"+(new Date(Number(arrArea[i]['Ngày'])).getMonth()+1):new Date(Number(arrArea[i]['Ngày'])).getMonth()+1%>/<%-new Date(Number(arrArea[i]['Ngày'])).getFullYear()%></td>
				      	<td class=""><%-arrArea[i]['Loại dự án']%></td>
				      	<td><%-realName[arrName.indexOf(arrArea[i]["Khu Vực"])]%></td>
				      	<td class=""><%-arrArea[i]['Lô số']%></td>
				      	<td><%-arrArea[i]['Giá']%> tỉ</td>
				      	<td><%-arrArea[i]["Diện tích"]%>m2</td>
				      	<td><%-arrArea[i]['Hướng']%></td>
				      	<td class="hidden-320px show-568px"><%-(arrArea[i]["Sổ đỏ"]=="true")?"có":"không"%></td>
				    </tr>
				<%}%>
		  	</tbody>
		</table>
		<div class="showmore">
	 		<input class="form-control bg-primary" min="0" max="" type="number" name="state" id="maxRows">
			<labe id="lb-show" for="maxRows">Số hàng</label>
		</div>
		<div class='pagination-container' >
				<nav>
				  <ul class="pagination">
            
            <li data-page="prev" >
								     <span> < <span class="sr-only">(current)</span></span>
								    </li>
				   <!--	Here the JS Function Will Add the Rows -->
        <li data-page="next" id="prev">
								       <span> > <span class="sr-only">(current)</span></span>
								    </li>
				  </ul>
				</nav>
			</div>

</div> <!-- 		End of Container -->
<div class="container sidebar-top">
	<div id="filter_rent_sale_widget-2" class="widget widget_filter_rent_sale_widget">

<div class="tabs">


	
	<div class="tabs-content">

			
		<div class="tab-content rent-tab active" id="filter_rent_sale_widget-2-rent">
			<form method="get" action="/?" accept-charset="utf-8" accept="application/json">
				<div class="form-group">
					<select class="form-control" name="Khu Vực" id="rent_filter_rent_sale_widget-2_location">
						<option value="">
											Vị Trí									</option>
						
																					<option value="nam-hoa-xuan-happy-real">
									»&nbsp; Nam Hòa Xuân								</option>
																					<option value="hoa-xuan-1a-happy-real">
									»&nbsp; Hòa Xuân 1A								</option>																																								<option value="dao-vip-happy-real">
									»&nbsp; Đảo VIP								</option>																																								<option value="lang-chau-au-1-happy-real">
									»&nbsp; Làng Châu Âu 1								</option>																																								<option value="lang-chau-au-2-happy-real">
									»&nbsp; Làng Châu Âu 2								</option>																																								<option value="nguyen-tri-phuong-happy-real">
									»&nbsp; Nguyễn Tri Phương								</option>

								
																																																		</select>
		</div><!-- /.form-group -->
																					<div class="form-group">
		
		<select class="form-control" name="Loại BDS" id="rent_filter_rent_sale_widget-2_property_type">	
			<option value="">Loại bất động sản</option>
			<option value="Đất">Khu vực xây dựng</option>
			<option value="Nhà">Nhà ở</option>
			<option value="Biệt Thự">Biệt thự</option>	
			<option value="Khác">Khác</option>	
		</select>
	</div><!-- /.form-group -->
	<div class="form-group fix-fg-40">
        <input type="text" id="range" value="" name="Giá" />
	</div><!-- /.form-group -->
																																																																																																																																																																																																																					
									<div class="form-group">
						<button class="button">Tìm kiếm</button>
					</div><!-- /.form-group -->
							</form>
		</div>

			
		<div class="tab-content sale-tab " id="filter_rent_sale_widget-2-sale">
		</div>

	
	</div>
</div>

</div>	</div><!-- /.sidebar -->
</div>
	</div>

</div>	
<!-- table		 -->
<div class="row">
	<div class="content col-sm-8 col-md-9">
		
									
<article id="post-268" class="post-268 page type-page status-publish hentry">
	
	<header class="entry-header page-header">
					<h1>Bất động sản mới</h1>
			</header><!-- .entry-header -->

	<div class="entry-content">
		<div class="row">
<div class="col-sm-8"></div>
</div>

			</div><!-- .entry-content -->
</article><!-- #post-## -->			
					
		

<div id="properties_widget-3" class="widget widget_properties_widget">

	
			
		<div class="type-box item-per-row-3">
						<div class="properties-row">				
																			</div><div class="properties-row">
			<%var count%>
			<%if(arrArea.length<=12){%>
				<%count = arrArea.length%>
			<%}else{%>
				<%count = 12}%>
			<%for (var j = 0; j < count; j++) {%>
				<div class="property-container">
					<div class="property-box">
					    <div class="property-box-image ">
					        <a href="/chi-tiet?area=<%-arrArea[j]._id%>" target="_blank" class="property-box-image-inner ">
								
					            				<img width="270" height="226" src="<%-arrArea[j].image[0]%>" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image icon-image-up" alt="interiors">            
								<div class="property-box-image-price">
					    <%-arrArea[j]['Giá']%> tỉ VND</div>
					    <!-- /.property-box-image-price -->
					            
					                    </a>
					    </div><!-- /.property-image -->

					    <div class="property-box-content">
					        <div class="property-box-title">
						        
					            <h3><a href="/chi-tiet?area=<%-arrArea[j]._id%>" target="_blank"><%-arrArea[j]['Loại dự án']%></a></h3>

						                </div><!-- /.property-box-title -->

						    <div class="property-box-body">
							    
						        	        	            <div class="property-box-type">
						                <%-arrArea[j]['Loại BDS']%>	            </div><!-- /.property-box-type -->
						        
						        	        	            <div class="property-box-price">
						                <%-arrArea[j]['Giá']%> tỉ VND	            </div><!-- /.property-box-price -->
						        
							    <div class="property-box-read-more">
								    <a href="/chi-tiet?area=<%-arrArea[j]._id%>" target="_blank" >Read More</a>
							    </div><!-- /.property-box-price -->

							    <div class="property-box-meta">
					                <span class="property-box-meta-item property-box-meta-item-area">
					            <i class="pp pp-normal-cursor-scale-up"></i> <%-arrArea[j]['Diện tích']%> m2    </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-beds">
					            <i class="pp pp-normal-bed"></i> <%-arrArea[j]['Số phòng ngủ']%>        </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-baths">
					            <i class="pp pp-normal-shower"></i> <%-arrArea[j]['Số phòng tắm']%>        </span><!-- /.property-box-meta-item -->
					    </div><!-- /.property-box-meta -->
						    </div><!-- /.property-box-body -->
					    </div><!-- /.property-box-content -->
					</div>
				</div><!-- /.property-container -->
				    
				<%}%>

				
								
							</div><!-- /.properties-row -->
				</div>
	
	
</div>	</div><!-- /.content -->

		<div class="sidebar col-sm-4 col-md-3">
		



<div id="properties_widget-2" class="widget widget_properties_widget">

			<h2 class="widgettitle">		Nổi bật		</h2>
	
			
		<div class="type-small item-per-row-1">
			<%var count%>
			<%if(resultPrice.length<=3){%>
				<%count = resultPrice.length%>
			<%}else{%>
				<%count = 3}%>
			<%for (var j = 0; j < count; j++) {%>		
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="/chi-tiet?area=<%-resultPrice[j]._id%>" target="_blank">
				<img width="150" height="150" src="<%-resultPrice[j].image[0]%>" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->
	
	<div class="property-small-content">
							<div class="property-small-type">
				<%-resultPrice[j]['Loại BDS']%>			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="/chi-tiet?area=<%-resultPrice[j]._id%>" target="_blank"><%-resultPrice[j]['Loại dự án']%></a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				<%-resultPrice[j]['Giá']%> tỉ VND			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->
				<%}%>		
						</div>
	
	
</div>	
<div id="agents_widget-2" class="widget widget_agents_widget">

    <h2 class="widgettitle">	Cần mua gấp    </h2>

	
	<div class="type-small item-per-row-1">
		
							

			
								<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner text-center">
		<%var arrName = ["nguyen-tri-phuong-happy-real","dao-vip-happy-real","nam-hoa-xuan-happy-real","hoa-xuan-1a-happy-real","lang-chau-au-1-happy-real","lang-chau-au-2-happy-real"]%>
				<%var realName = ["Nguyễn Tri Phương","Đảo Vip","Nam Hòa Xuân","Hòa Xuân 1A","Làng Châu Âu 1","Làng Châu Âu 2"]%>
		<%for (let z = 0; z < areaGuest.length; z++) {%>
			<div class="w-100">
				<h3 class="agent-small-title">
					<a>Cần mua : <%-(areaGuest[z]["Loại BDS"])?areaGuest[z]["Loại BDS"]:""%></a>
				</h3>
				<div class="agent-small-email">
					<a><%-(areaGuest[z]["Khu Vực"])?realName[arrName.indexOf(areaGuest[z]["Khu Vực"])]:""%> - </a>
					<a style="color: #e74c3c">Giá từ : <%-(areaGuest[z]["Giá"])?areaGuest[z]["Giá"].split(';').join(' đến '):""%> tỉ</a>
				</div><!-- /.agent-small-email -->
			</div><!-- /.agent-small-content -->
			<hr>
		<%}%>	
		<form action="/gui-mua" method="post">
			<div class="form-group">
				<select class="form-control" name="Khu Vực" id="rent_filter_rent_sale_widget-2_location">
					<option value="">
										Vị Trí									</option>
																				<option value="nam-hoa-xuan-happy-real">
								»&nbsp; Nam Hòa Xuân								</option>	
																				<option value="hoa-xuan-1a-happy-real">
								»&nbsp; Hòa Xuân 1A								</option>																																								<option value="dao-vip-happy-real">
								»&nbsp; Đảo VIP								</option>																																								<option value="lang-chau-au-1-happy-real">
								»&nbsp; Làng Châu Âu 1								</option>																																								<option value="lang-chau-au-2-happy-real">
								»&nbsp; Làng Châu Âu 2								</option>																																								<option value="nguyen-tri-phuong-happy-real">
								»&nbsp; Nguyễn Tri Phương								</option>

							
																																																	</select>
	</div><!-- /.form-group -->
																				<div class="form-group">
	
	<select class="form-control" name="Loại BDS" id="rent_filter_rent_sale_widget-2_property_type">
		
		<option value="">
								Loại bất động sản							</option>					
																								<option value="Đất">
					Khu vực xây dựng					</option>					
																								<option value="Nhà">
					Nhà ở					</option>

				
																								<option value="Biệt Thự">
					Biệt thự					</option><option value="Khác">
					Khác					</option>

				
																								</select>
</div><!-- /.form-group -->
<div class="form-group">
    <input type="text" class="form-control" placeholder="Tên người bán" id="" value="" name="Tên người bán" />
</div>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Số điện thoại liên hệ" id="" value="" name="SĐT" />
</div>
<div class="form-group">
    <input type="number" id="" step="0.01" min="0.1" class="form-control" value="" placeholder="Ngân sách (tỉ VNĐ)" name="Giá" />
</div><!-- /.form-group -->
																																																																																																																																																																																																																				
								<div class="form-group">
					<button class="btn-primary btn">Gửi mua</button>
				</div><!-- /.form-group -->
		</form>
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
					
			</div>


</div>
</div><!-- /.sidebar -->
</div><!-- /.row -->

			
        <div id="property_carousel_widget-2" class="widget widget_property_carousel_widget">
		    <div class="owl-carousel owl-theme">
			    	<%var count%>
			<%if(resultDowntown.length<=6){%>
				<%count = resultDowntown.length%>
			<%}else{%>
				<%count = 6}%>
			<%for (var j = 0; j < count; j++) {%>
			    <div class="item">
					<div class="property-container">
															


					<div class="property-box">
					    <div class="property-box-image ">
					        <a href="/chi-tiet?area=<%-resultDowntown[j]._id%>" target="_blank" class="property-box-image-inner ">
								
					            				<img width="270" height="226" src="<%-resultDowntown[j].image[0]%>" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
								<div class="property-box-image-price">
					    <%-resultDowntown[j]['Giá']%> tỉ VND</div><!-- /.property-box-image-price -->

					                        
					            
					                    </a>
					    </div><!-- /.property-image -->

					    <div class="property-box-content">
					        <div class="property-box-title">
						        
					            <h3><a href="/chi-tiet?area=<%-resultDowntown[j]._id%>" target="_blank" ><%-resultDowntown[j]['Loại dự án']%></a></h3>

						                </div><!-- /.property-box-title -->

						    <div class="property-box-body">
							    
						        	        	            <div class="property-box-type">
						                <%-resultDowntown[j]['Loại BDS']%>	            </div><!-- /.property-box-type -->
						        
						        	        	            <div class="property-box-price">
						                <%-resultDowntown[j]['Giá']%> tỉ VND	            </div><!-- /.property-box-price -->
						        
							    <div class="property-box-read-more">
								    <a href="/chi-tiet?area=<%-resultDowntown[j]._id%>" target="_blank">Read More</a>
							    </div><!-- /.property-box-price -->

							    <div class="property-box-meta">
					                <span class="property-box-meta-item property-box-meta-item-area">
					            <i class="pp pp-normal-cursor-scale-up"></i> <%-resultDowntown[j]['Diện tích']%> m2       </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-beds">
					            <i class="pp pp-normal-bed"></i> <%-resultDowntown[j]['Số phòng ngủ']%>        </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-baths">
					            <i class="pp pp-normal-shower"></i> <%-resultDowntown[j]['Số phòng tắm']%>        </span><!-- /.property-box-meta-item -->
					    </div><!-- /.property-box-meta -->
						    </div><!-- /.property-box-body -->
					    </div><!-- /.property-box-content -->
					</div>
									</div>
			    </div>
				<%}%>

			</div>
        </div>
	<script>
		jQuery(document).ready(function($) {
			$('.owl-carousel').owlCarousel({
			    loop:true,
			    margin:10,
			    responsiveClass:true,
			    nav:true,
			    responsive:{
			        320:{
			            items:1,
			            nav:true,
			            navText : ['<i class="fa fa-angle-left" aria-hidden="true"></i>','<i class="fa fa-angle-right" aria-hidden="true"></i>']
			        },
			        600:{
			            items:3,
			            nav:true
			        },
			        99999:{
			            items:5,
			            nav:true,
			            loop:true
			        }
			    }
			})
		})
	</script>
        <div id="aviators_features_circles-2" class="widget widget_aviators_features_circles">
        <div class="fullwidth background-white">
            <div class="row">
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <a href="#table-pagination" style="text-decoration: none;">
                                	<i class="pp pp-normal-pointer"></i>
                                </a>
                            </div>
	
                            <div class="feature-content">
                                <h3>Tìm Kiếm</h3>

                                <div class="feature-body">
                                    Tìm kiếm bất động sản trực tuyến nhanh và được cập nhật 24/7                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-mobile-phone"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Đa thiết bị, đa trình duyệt</h3>

                                <div class="feature-body">
                                    Hỗ trợ đa thiết bị(Điện thoại di động, máy tính bảng, máy tính cá nhân) và trình duyệt(Google Chrome, Safari, Firefox, ...)               </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                        		<a href="#map" style="text-decoration: none;">
                            	    <i class="pp pp-normal-map"></i>
                        		</a>
                            </div>

                            <div class="feature-content">
                                <h3>Google Maps</h3>

                                <div class="feature-body">
                                    Góc nhìn trực quan hiện đại và thực tế chính xác qua công cụ bản đồ chuẩn xác nhất thế giới hiện tại                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
    
        <div id="aviators_call_to_action-2" class="widget widget_aviators_call_to_action">
        <div class="fullwidth background-secondary">
            <div class="row">
                <div class="call-to-action-text col-sm-12 col-md-12">
                    <b><%-infoCompany.companyName%></b>  &nbsp; luôn cố gắng hết mình vì niềm tin của bạn giao phó              </div>
            </div><!-- /.row -->
        </div><!-- /.fullwidth -->

        </div>
    		</div><!-- /.container -->
	</div><!-- /.main -->

	<div class="footer">
					<div class="footer-top">
				<div class="container">
					<div class="footer-top-inner">
						<div class="row">
							
															<div class="widget-container col-sm-6 col-md-6">
									<div id="text-3" class="widget widget_text"><h2 class="widgettitle">Thông tin liên hệ:</h2>
			<div class="textwidget">Mọi trao đổi và giải đáp mọi thông tin chi tiết vui lòng liên hệ:  
<dl>
<dt><i class="pp pp-normal-map-pointer"></i><%-infoCompany.location.street%></dt><dd><%-infoCompany.location.city%></dd>
<dt><i class="pp pp-normal-phone"></i> <a href="tel:<%-infoCompany.phoneNumber%>‬‬" style="color:#fff"><%-infoCompany.phoneNumber%>‬‬</a> </dt><dd><a href="mailto:<%-infoCompany.email%>" style="color: rgba(255, 255, 255, 0.7)"><%-infoCompany.email%></a></dd>
<dt><i class="pp pp-normal-clock"></i> Thứ 2 - Thứ 7</dt><dd>8:00 - 18:00</dd>
</dl></div>
		</div>								</div>
							
	<div class="widget-container col-sm-6 col-md-6">
		<div id="text-4" class="widget widget_text"><h2 class="widgettitle">Nhận email từ chúng tôi:</h2>
			<div class="textwidget">Nhận thông tin mới nhất về bất động sản và các biến động từ chúng tôi qua email:
				<hr>
				<div role="form" class="wpcf7" id="wpcf7-f554-o1" lang="en-US" dir="ltr">
					<div class="screen-reader-response"></div>
					<div class="wpcf7-form">
						<div class="form-group">
						   <span class="wpcf7-form-control-wrap your-email"><input id="val-email" type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="abc@xyz.com"></span>
						</div>
						<div class="form-group">
						   <input type="submit" class="btn btn-secondary pull-right" id="receive-email" value="Gửi">
						</div>
						<div class="wpcf7-response-output wpcf7-display-none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
													</div><!-- /.row -->
					</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-top -->
		
					<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-inner">
						<div class="footer-bottom-left">
									<div id="text-2" class="widget widget_text">			<div class="textwidget"><%-new Date().getFullYear()%> © <%-infoCompany.companyName%><span class="separator">/</span> Powered by <a href="http://nodejs.org" target="_blank">Node.js</a></div>
		</div>								</div><!-- /.footer-bottom-left -->
							
															<div class="footer-bottom-right">
									<div id="nav_menu-2" class="widget widget_nav_menu">
										<div class="menu-footer-container">
											<ul id="menu-footer" class="menu">
												<li id="menu-item-534" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-534">
																		</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-bottom -->
			</div><!-- /.footer -->
</div><!-- /.page-wrapper -->
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/colorbox/jquery.colorbox-min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./js/events/controler.js"></script>


<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div>
<div class="popup-alert" style="display: none">
	<div class="popup-alert-container">
		<div class="popup-alert-container-content">
			<h1 class="popup-alert-container-content-title"></h1>
			<button class="popup-alert-container-content-btn btn-primary" id="close-alert">Close</button>
		</div>
	</div>
</div>
<script type="text/javascript" src="./js/ion.rangeSlider.js"></script>
<script type="text/javascript" src="./js/goToTop.js"></script>
<script>
    $(function () {
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 100,
            from: 0,
            to: 50,
            type: 'double',
            step: 1,
            postfix: " TỈ VNĐ"
        });
    });
</script>
</body></html>