<html lang="en-US"><head><style type="text/css">.gm-control-active img{box-sizing:content-box;pointer-events:none}.gm-control-active:hover img:nth-child(1),.gm-control-active:active img:nth-child(1),.gm-control-active:active img:nth-child(2){display:none}
</style><link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-ui-hover-effect{opacity:.7}.gm-ui-hover-effect:hover{opacity:1}
</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="profile" href="http://gmpg.org/xfn/11">
	<link rel="pingback" href="./php">

	<title>Happy Real – Đà Nẵng - Bất động sản</title>
<meta property="og:title" content="Recent Properties"><link rel="alternate" type="application/rss+xml" title="Happy Real » Feed" href="./">
<link rel="alternate" type="application/rss+xml" title="Happy Real » Comments Feed" href="./feed/">
<link rel="alternate" type="application/rss+xml" title="Happy Real » Recent Properties Comments Feed" href="./map/feed/">
		<script src="./includes/js/wp-emoji-release.min.js?ver=4.4.1" type="text/javascript"></script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
<link rel="stylesheet" id="mapescape.css-css" href="./content/plugins/HappyReal/libraries/mapescape/css/mapescape.css?ver=20160604" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="./content/plugins/contact-form-7/includes/css/styles.css?ver=4.3.1" type="text/css" media="all">
<link rel="stylesheet" id="owl.carousel-css" href="./content/plugins/HappyReal-property-carousel/libraries/owl.carousel/assets/owl.carousel.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" href="./stylesheets/customTable.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" id="fontawesome-css" href="./content/themes/HappyReal/assets/libraries/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="colorbox-css" href="./content/themes/HappyReal/assets/libraries/colorbox/example1/colorbox.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="pictopro-css" href="./content/themes/HappyReal/assets/libraries/fonts/PictoPro/style.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="HappyReal-css-css" href="./content/themes/HappyReal/assets/css/HappyReal.css?ver=20170117" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="./content/themes/HappyReal/style.css?ver=4.4.1" type="text/css" media="all">
<!-- <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyD86DebZJbh6ErVo_W_RcM5eyvRL9VH7Xo&amp;libraries=weather%2Cgeometry%2Cvisualization%2Cplaces%2Cdrawing&amp;ver=4.4.1"></script> -->
<script type="text/javascript" src="./includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery.chained.remote.custom.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/bootstrap/javascripts/bootstrap/collapse.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/js/HappyReal.js?ver=20161017"></script>
<link rel="https://api.w.org/" href="./json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="./php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="./includes/wlwmanifest.xml"> 
<meta name="generator" content="WordPress 4.4.1">
<link rel="canonical" href="./<link rel="shortlink" href="./<script type="text/javascript">
<link rel="https://github.com/WP-API/WP-API" href="./json">
</head>

<body class="home page page-id-268 page-template-default">
	<%-chatbox%>
<div class="page-wrapper">
	<div class="header">
		<nav class="navbar navbar-default">
			<div class="header-top">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-menu" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="./"><img src="./content/uploads/2015/07/logo.png" alt="Home">
							
							<span>Happy Real</span>
						</a>

											</div><!-- /.navbar-header -->

											<div class="navbar-info">
							<i class="pp pp-normal-pencil"></i> <a href="mailto:happyreal@gmail.com">happyreal@gmail.com</a>						</div><!-- /.navbar-info -->
					
											<div class="navbar-info">
							<i class="pp pp-normal-phone"></i> <a href="tel:0902476116‬">0902476116‬</a>						</div><!-- /.navbar-info -->
					

						</a>
									</div><!-- /.container -->
			</div><!-- /.header-top -->

			
							<div class="header-bottom">
					<div class="container"><div class="menu-primary-container"><ul id="primary-menu" class="nav navbar-nav navbar-right collapse navbar-collapse"><li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="/">Trang chủ</a>
</li>
<li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450"><a href="/theme/HappyReal/properties/">Sơ đồ bảng giá</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454"><a href="#">Nguyễn Tri Phương</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-457"><a href="./new-york-city/brooklyn/">Giới Thiệu</a></li>
			<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-460"><a href="./new-york-city/the-bronx/">Bảng giá và sơ đồ</a></li>
			<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-456"><a href="./new-york-city/manhattan/">Tiến độ</a></li>
			<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-458"><a href="./new-york-city/queens/">Các lô đang bán</a></li>
		</ul>
	</li>
	<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454"><a href="#">Nam Hòa Xuân</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-457"><a href="./new-york-city/brooklyn/">Giới Thiệu</a></li>
			<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-460"><a href="./new-york-city/the-bronx/">Bảng giá và sơ đồ</a></li>
			<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-456"><a href="./new-york-city/manhattan/">Tiến độ</a></li>
			<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-458"><a href="./new-york-city/queens/">Các lô đang bán</a></li>
		</ul>
	</li>
	<li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-455"><a href="#">Đảo VIP</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-457"><a href="./new-york-city/brooklyn/">Giới Thiệu</a></li>
			<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-460"><a href="./new-york-city/the-bronx/">Bảng giá và sơ đồ</a></li>
			<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-456"><a href="./new-york-city/manhattan/">Tiến độ</a></li>
			<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-458"><a href="./new-york-city/queens/">Các lô đang bán</a></li>
		</ul>
	</li>
	<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480"><a href="#">Hòa Xuân 1A</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-457" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-457"><a href="./new-york-city/brooklyn/">Giới Thiệu</a></li>
			<li id="menu-item-460" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-460"><a href="./new-york-city/the-bronx/">Bảng giá và sơ đồ</a></li>
			<li id="menu-item-456" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-456"><a href="./new-york-city/manhattan/">Tiến độ</a></li>
			<li id="menu-item-458" class="menu-item menu-item-type-taxonomy menu-item-object-locations menu-item-458"><a href="./new-york-city/queens/">Các lô đang bán</a></li>
		</ul>
	</li>
	<li id="menu-item-487" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-487"><a href="#">Làng Châu Âu</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-488" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-488"><a href="./available/">Giới Thiệu</a></li>
			<li id="menu-item-489" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-489"><a href="./rent-agreed/">Bảng giá & sơ đồ</a></li>
			<li id="menu-item-490" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-490"><a href="./reserved/">Tiến độ</a></li>
			<li id="menu-item-491" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-491"><a href="./sell-agreed/">Các lô đang bán</a></li>
		</ul>
	</li>
	<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-479"><a href="#">Làng Châu Âu 2</a>
		<ul class="dropdown-menu sub-menu">
			<li id="menu-item-488" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-488"><a href="./available/">Giới Thiệu</a></li>
			<li id="menu-item-489" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-489"><a href="./rent-agreed/">Bảng giá & sơ đồ</a></li>
			<li id="menu-item-490" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-490"><a href="./reserved/">Tiến độ</a></li>
			<li id="menu-item-491" class="menu-item menu-item-type-taxonomy menu-item-object-statuses menu-item-491"><a href="./sell-agreed/">Các lô đang bán</a></li>
		</ul>
	</li>
</ul>
</li>
<li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="#">Video</a></li>
<li id="menu-item-453" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-453"><a href="#">Tin Tức</a>
<ul class="dropdown-menu sub-menu">
	<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="./property/">Tin trong ngành</a></li>
	<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="./property/">Tin dự án</a></li>
	<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="./property/">Giới thiệu dự án</a></li>
</ul>
</li>
<li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="./">Liên Hệ</a></li>
</ul></div></div><!-- /.container -->
				</div><!-- /.header-bottom -->
					</nav>
	</div><!-- /.header -->

	<div class="main">
		


		<div class="container">
				<div class="sidebar-top">
		

<div id="filter_rent_sale_widget-2" class="widget widget_filter_rent_sale_widget">

<div class="tabs">
	<ul class="tabs-navigation custom-tabs-navigation">
		<li class="rent active custom-active"><a href="#filter_rent_sale_widget-2-rent">Mua</a></li>
		<li class="link last custom-links">
		    <a href="./?filter-sticky=1">VIP > 3 Tỷ</a>
		</li>
		<li class="link custom-links">
		    <a href="./?filter-sold=1">2 - 3 Tỷ</a>
		</li>
		<li class="link custom-links">
		    <a href="./?filter-reduced=1">1.6 - 2 Tỷ</a>
		</li>

		<li class="link custom-links">
		    <a href="./?filter-featured=1">Đã có sổ đỏ</a>
		</li>
		<li class="link custom-links">
		    <a href="./">Lô góc</a>
		</li>
		<li class="link custom-links">
		    <a href="./">Lô Biệt Thự</a>
		</li>
	</ul>

	
	<div class="tabs-content">

			
		<div class="tab-content rent-tab active" id="filter_rent_sale_widget-2-rent">
			<form method="get" action="./">
				
															<input type="hidden" name="fbclid" value="IwAR1Na500MHKnbIueVl7oeqegxPrp6gtbVko7PkVcmmu0FjVl31kHJ1RjIXQ">
									
				<input type="hidden" name="filter-contract" value="RENT">

				
				
																																																												<div class="form-group">
			
			<select class="form-control" name="filter-location" id="rent_filter_rent_sale_widget-2_location">
				<option value="">
											Vị Trí									</option>

				
															<option value="40">TP.Đà Nẵng</option>

						
																					<option value="51">
									»&nbsp; Nam Hòa Xuân								</option>

								
																																								<option value="52">
									»&nbsp; Đảo VIP								</option>

								
																																								<option value="42">
									»&nbsp; Làng Châu Âu								</option>

								
																																								<option value="46">
									»&nbsp; Làng Châu Âu 2								</option>

								
																																								<option value="48">
									»&nbsp; Nguyễn Tri Phương								</option>

								
																																																		</select>
		</div><!-- /.form-group -->
																					<div class="form-group">
		
		<select class="form-control" name="filter-property-type" id="rent_filter_rent_sale_widget-2_property_type">
			
			<option value="">
									Loại bất động sản							</option>

												<option value="13">
						Căn hộ, Chung cư					</option>

					
																									<option value="19">
						Khu vực xây dựng					</option>

					
																									<option value="24">
						Chung cư					</option>

					
																									<option value="34">
						Nhà ở					</option>

					
																									<option value="49">
						Biệt thự					</option>

					
																									</select>
	</div><!-- /.form-group -->
																																																																													<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-from" placeholder="Giá từ (VNĐ)" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_from">
	</div><!-- /.form-group -->

	<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-to" placeholder="Đến giá (VNĐ)" class="form-control" value="" id="rent_filter_rent_sale_widget-2_price_to">
	</div><!-- /.form-group -->
																																																																																																																																																																																																																					
									<div class="form-group">
						<button class="button">Lọc bất động sản</button>
					</div><!-- /.form-group -->
							</form>
		</div>

			
		<div class="tab-content sale-tab " id="filter_rent_sale_widget-2-sale">
			<form method="get" action="./">
				
															<input type="hidden" name="fbclid" value="IwAR1Na500MHKnbIueVl7oeqegxPrp6gtbVko7PkVcmmu0FjVl31kHJ1RjIXQ">
									
				<input type="hidden" name="filter-contract" value="SALE">

				
				
																			    <div class="form-group">
        
        <input type="text" name="filter-property-title" class="form-control" placeholder="Property title" value="" id="sale_filter_rent_sale_widget-2_property_title">
    </div><!-- /.form-group -->
																																																																																																<div class="form-group">
		
		<select class="form-control" name="filter-status" id="sale_filter_rent_sale_widget-2_status">
			
			<option value="">
									Status							</option>

												<option value="14">Available</option>
									<option value="43">Rent Agreed</option>
									<option value="44">Reserved</option>
									<option value="45">Sell Agreed</option>
									</select>
	</div><!-- /.form-group -->
																																							<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-from" placeholder="Price from" class="form-control" value="" id="sale_filter_rent_sale_widget-2_price_from">
	</div><!-- /.form-group -->

	<div class="form-group">
		
		<input type="number" min="0" pattern="\d*" name="filter-price-to" placeholder="Price to" class="form-control" value="" id="sale_filter_rent_sale_widget-2_price_to">
	</div><!-- /.form-group -->
																																																																																																																																																																																																																					
									<div class="form-group">
						<button class="button">Filter</button>
					</div><!-- /.form-group -->
							</form>
		</div>

	
	</div>
</div>

</div>	</div><!-- /.sidebar -->
<!-- table -->
<div class="row">
	<div class="content col-sm-12 col-md-12">
		<table class="table table-striped table-hover table-success">
			<thead>
			    <tr>
	                <th scope="col" class="hidden-320px show-640px">#</th>
	                <th scope="col" class="hidden-320px show-720px">Ngày</th>
	                <th scope="col" class="hidden-320px show-568px">Lô số</th>
	                <th scope="col" class="hidden-320px show-720px">Loại dự án</th>
	                <th scope="col">Giá (tỉ VNĐ)</th>
	                <th scope="col">Hướng</th>
	                <th scope="col">Diện tích(m2)</th>
	                <th scope="col">Khu</th>
	                <th scope="col" class="hidden-320px show-568px">Sổ đỏ</th>
	            </tr>
			</thead>
			<tbody>
				<%for (var i = 0; i < arrArea.length; i++) {%>
				<%var arrName = ["nguyen-tri-phuong-happy-real","dao-vip-happy-real","nam-hoa-xuan-happy-real","hoa-xuan-1a-happy-real","lang-chau-au-1-happy-real","lang-chau-au-2-happy-real"]%>
				<%var realName = ["Nguyễn Tri Phương","Đảo Vip","Nam Hòa Xuân","Hòa Xuân 1A","Làng Châu Âu 1","Làng Châu Âu 2"]%>
				    <tr>
				      	<th scope="row" class="hidden-320px show-640px"><%-i%></th>
				      	<td class="hidden-320px show-720px"><%-arrArea[i]['Ngày']%></td>
				      	<td class="hidden-320px show-568px"><%-arrArea[i]['Lô số']%></td>
				      	<td class="hidden-320px show-720px"><%-arrArea[i]['Loại dự án']%></td>
				      	<td><%-arrArea[i]['Giá']%></td>
				      	<td><%-arrArea[i]['Hướng']%></td>
				      	<td><%-arrArea[i]["Diện tích"]%></td>
				      	<td><%-realName[arrName.indexOf(arrArea[i]["Khu Vực"])]%></td>
				      	<td class="hidden-320px show-568px"><%-(arrArea[i]["Sổ đỏ"]=="true")?"có":"không"%></td>
				    </tr>
				<%}%>
		  	</tbody>
		</table>
		<div class="showmore">
			<a class="showmore-txt">Xem thêm</a>
		</div>
	</div>
</div>	
<!-- table		 -->
<div class="row">
	<div class="content col-sm-8 col-md-9">
		
									
<article id="post-268" class="post-268 page type-page status-publish hentry">
	
	<header class="entry-header page-header">
					<h1>Bất động sản mới</h1>
			</header><!-- .entry-header -->

	<div class="entry-content">
		<div class="row">
<div class="col-sm-8"></div>
</div>

			</div><!-- .entry-content -->
</article><!-- #post-## -->			
					
		

<div id="properties_widget-3" class="widget widget_properties_widget">

	
			
		<div class="type-box item-per-row-3">
						<div class="properties-row">
				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./south-mervin-boulevard/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388662544_96ca3f71c1_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 220,000</div><!-- /.property-box-image-price -->

                        
                            <span class="property-badge">Featured / Reduced</span>
            
                            <span class="property-badge property-badge-sticky">TOP</span>
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./south-mervin-boulevard/">South Mervin Boulevard</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Villa	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 220,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./south-mervin-boulevard/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 140 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 3        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 4        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./north-parchmore-street/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388661724_859d557469_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 340,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./north-parchmore-street/">North Parchmore Street</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                House	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 340,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./north-parchmore-street/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 150 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 2        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 3        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./apricot-west-britford-arch/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388658984_72f0ca75aa_o-1-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 125,000</div><!-- /.property-box-image-price -->

                        
                            <span class="property-badge">Featured</span>
            
                            <span class="property-badge property-badge-sticky">TOP</span>
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./apricot-west-britford-arch/">Apricot West Britford Arch</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Apartment	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 125,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./apricot-west-britford-arch/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 125 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 3        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 4        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

							</div><div class="properties-row">
				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./south-celler-court/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388655270_3a8c3c8799_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 225,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./south-celler-court/">South Celler Court</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Building area	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 225,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./south-celler-court/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 160 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 4        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 5        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./ely-parkway/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388654584_646ed56dd3_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 350,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./ely-parkway/">Ely Parkway</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Apartment	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 350,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./ely-parkway/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 250 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 4        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 5        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
												<div class="property-container">
										


<div class="property-box">
    <div class="property-box-image ">
        <a href="./eaton-garth/" class="property-box-image-inner ">
			
            				<img width="270" height="226" src="./content/uploads/2015/06/5388654148_447f6f2289_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
			<div class="property-box-image-price">
    $ 90,000</div><!-- /.property-box-image-price -->

                        
            
                    </a>
    </div><!-- /.property-image -->

    <div class="property-box-content">
        <div class="property-box-title">
	        
            <h3><a href="./eaton-garth/">Eaton Garth</a></h3>

	                </div><!-- /.property-box-title -->

	    <div class="property-box-body">
		    
	        	        	            <div class="property-box-type">
	                Villa	            </div><!-- /.property-box-type -->
	        
	        	        	            <div class="property-box-price">
	                $ 90,000	            </div><!-- /.property-box-price -->
	        
		    <div class="property-box-read-more">
			    <a href="./eaton-garth/">Read More</a>
		    </div><!-- /.property-box-price -->

		    <div class="property-box-meta">
                <span class="property-box-meta-item property-box-meta-item-area">
            <i class="pp pp-normal-cursor-scale-up"></i> 350 sqft        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-beds">
            <i class="pp pp-normal-bed"></i> 2        </span><!-- /.property-box-meta-item -->
    
                <span class="property-box-meta-item property-box-meta-item-baths">
            <i class="pp pp-normal-shower"></i> 1        </span><!-- /.property-box-meta-item -->
    </div><!-- /.property-box-meta -->
	    </div><!-- /.property-box-body -->
    </div><!-- /.property-box-content -->
</div>
				</div><!-- /.property-container -->

				
								
							</div><!-- /.properties-row -->
				</div>
	
	
</div>	</div><!-- /.content -->

		<div class="sidebar col-sm-4 col-md-3">
		

<div id="agents_widget-2" class="widget widget_agents_widget">

    <h2 class="widgettitle">	Nhân sự    </h2>

	
	<div class="type-small item-per-row-1">
		
							

			
								<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner">
		<div class="agent-small-image">
			<a href="./evaristo/" class="agent-small-image-inner">
							</a><!-- /.agent-small-image-inner -->
		</div><!-- /.agent-small-image -->

		<div class="agent-small-content">
			<h3 class="agent-small-title">
				<a href="./evaristo/">Evaristo</a>
			</h3>

						
								</div><!-- /.agent-small-content -->
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
								<div class="agents-container">
				
<div class="agent-small">
	<div class="agent-small-inner">
		<div class="agent-small-image">
			<a href="./andrew-man/" class="agent-small-image-inner">
									<img width="150" height="150" src="./content/uploads/2015/06/7446746056_f0d422d0b4_o-e1434118870928-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="ISO bestuur 2012-2013">							</a><!-- /.agent-small-image-inner -->
		</div><!-- /.agent-small-image -->

		<div class="agent-small-content">
			<h3 class="agent-small-title">
				<a href="./andrew-man/">Andrew Man</a>
			</h3>

										<div class="agent-small-email">
					<a href="mailto:info@example.com">info@example.com</a>
				</div><!-- /.agent-small-email -->
			
										<div class="agent-small-phone">
					+123-456-789				</div><!-- /.agent-small-phone -->
					</div><!-- /.agent-small-content -->
	</div><!-- /.agent-small-inner -->
</div><!-- /.agent-small -->
			</div><!-- /.property-container -->

			
					
			</div>


</div>

<div id="properties_widget-2" class="widget widget_properties_widget">

			<h2 class="widgettitle">		Nổi bật		</h2>
	
			
		<div class="type-small item-per-row-1">
			
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./south-mervin-boulevard/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388662544_96ca3f71c1_o-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				Villa			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./south-mervin-boulevard/">South Mervin Boulevard</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 220,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./north-parchmore-street/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388661724_859d557469_o-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				House			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./north-parchmore-street/">North Parchmore Street</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 340,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
												<div class="property-container">
										
<div class="property-small">
	<div class="property-small-image ">
					<a href="./apricot-west-britford-arch/">
				<img width="150" height="150" src="./content/uploads/2015/06/5388658984_72f0ca75aa_o-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="interiors">			</a>
			</div><!-- /.property-small-image -->

	<div class="property-small-content">
							<div class="property-small-type">
				Apartment			</div><!-- /.property-small-type -->
		
		<h3 class="property-small-title">
			<a href="./apricot-west-britford-arch/">Apricot West Britford Arch</a>
		</h3><!-- /.property-small-title -->

							<div class="property-small-price">
				$ 125,000			</div><!-- /.property-small-price -->
			</div><!-- /.property-small-content -->
</div><!-- /.property-small -->
				</div><!-- /.property-container -->

				
								
						</div>
	
	
</div>	</div><!-- /.sidebar -->
</div><!-- /.row -->

			
        <div id="property_carousel_widget-2" class="widget widget_property_carousel_widget">
		    <div class="owl-carousel owl-theme">
			    <div class="item">
					<div class="property-container">
															


					<div class="property-box">
					    <div class="property-box-image ">
					        <a href="./north-parchmore-street/" class="property-box-image-inner ">
								
					            				<img width="270" height="226" src="./content/uploads/2015/06/5388661724_859d557469_o-270x226.jpg" class="attachment-property-box-thumbnail size-property-box-thumbnail wp-post-image" alt="interiors">            
								<div class="property-box-image-price">
					    $ 340,000</div><!-- /.property-box-image-price -->

					                        
					            
					                    </a>
					    </div><!-- /.property-image -->

					    <div class="property-box-content">
					        <div class="property-box-title">
						        
					            <h3><a href="./north-parchmore-street/">North Parchmore Street</a></h3>

						                </div><!-- /.property-box-title -->

						    <div class="property-box-body">
							    
						        	        	            <div class="property-box-type">
						                House	            </div><!-- /.property-box-type -->
						        
						        	        	            <div class="property-box-price">
						                $ 340,000	            </div><!-- /.property-box-price -->
						        
							    <div class="property-box-read-more">
								    <a href="./north-parchmore-street/">Read More</a>
							    </div><!-- /.property-box-price -->

							    <div class="property-box-meta">
					                <span class="property-box-meta-item property-box-meta-item-area">
					            <i class="pp pp-normal-cursor-scale-up"></i> 150 sqft        </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-beds">
					            <i class="pp pp-normal-bed"></i> 2        </span><!-- /.property-box-meta-item -->
					    
					                <span class="property-box-meta-item property-box-meta-item-baths">
					            <i class="pp pp-normal-shower"></i> 3        </span><!-- /.property-box-meta-item -->
					    </div><!-- /.property-box-meta -->
						    </div><!-- /.property-box-body -->
					    </div><!-- /.property-box-content -->
					</div>
									</div>

			    </div>
			</div>
        </div>
	<script>
		jQuery(document).ready(function($) {
			$('.owl-carousel').owlCarousel({
			    loop:true,
			    margin:10,
			    responsiveClass:true,
			    nav:true,
			    responsive:{
			        0:{
			            items:1,
			            nav:true
			        },
			        600:{
			            items:3,
			            nav:false
			        },
			        1000:{
			            items:5,
			            nav:true,
			            loop:false
			        }
			    }
			})
		});
	</script>
        <div id="aviators_features_circles-2" class="widget widget_aviators_features_circles">
        <div class="fullwidth background-white">
            <div class="row">
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-pointer"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Tìm Kiếm</h3>

                                <div class="feature-body">
                                    Tìm kiếm bất động sản trực tuyến nhanh và được cập nhật 24/7                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-mobile-phone"></i>
                            </div>

                            <div class="feature-content">
                                <h3>REST API</h3>

                                <div class="feature-body">
                                    Aliquam lacus ligula, dignissim sed egestas in, faucibus vitae nibh. Nulla facilisi.                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                                                                                                                    
                    <div class="feature-wrapper col-sm-4">
                        <div class="feature-box">
                            <div class="feature-icon">
                                <i class="pp pp-normal-map"></i>
                            </div>

                            <div class="feature-content">
                                <h3>Google Maps</h3>

                                <div class="feature-body">
                                    Góc nhìn trực quan hiện đại và thực tế chính xác qua công cụ bản đồ chuẩn xác nhất thế giới hiện tại                                </div><!-- /.feature-body -->

                                                            </div><!-- /.feature-content -->
                        </div><!-- /.feature-box -->
                    </div><!-- /.feature-wrapper -->
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
    
        <div id="aviators_call_to_action-2" class="widget widget_aviators_call_to_action">
        <div class="fullwidth background-secondary">
            <div class="row">
                <div class="call-to-action-text col-sm-12 col-md-12">
                    <b>Happy Real</b>  &nbsp; luôn cố gắng hết mình vì niềm tin của bạn giao phó              </div>
            </div><!-- /.row -->
        </div><!-- /.fullwidth -->

        </div>
    		</div><!-- /.container -->
	</div><!-- /.main -->

	<div class="footer">
					<div class="footer-top">
				<div class="container">
					<div class="footer-top-inner">
						<div class="row">
							
															<div class="widget-container col-sm-6 col-md-6">
									<div id="text-3" class="widget widget_text"><h2 class="widgettitle">Thông tin liên hệ:</h2>
			<div class="textwidget">Mọi trao đổi và giải đáp mọi thông tin chi tiết vui lòng liên hệ:  
<dl>
<dt><i class="pp pp-normal-map-pointer"></i>Số 10 Đường Xô Viết Nghệ Tĩnh</dt><dd>Hải châu - Đà Nẵng</dd>
<dt><i class="pp pp-normal-phone"></i> <a href="tel:0902476116‬" style="color:#fff">0902476116‬</a> </dt><dd><a href="mailto:happyreal@gmail.com" style="color: rgba(255, 255, 255, 0.7)">happyreal@gmail.com</a></dd>
<dt><i class="pp pp-normal-clock"></i> Thứ 2 - Thứ 7</dt><dd>8:00 - 18:00</dd>
</dl></div>
		</div>								</div>
							
	<div class="widget-container col-sm-6 col-md-6">
		<div id="text-4" class="widget widget_text"><h2 class="widgettitle">Nhận email từ chúng tôi:</h2>
			<div class="textwidget">Nhận thông tin mới nhất về bất động sản và các biến động từ chúng tôi qua email:
				<hr>
				<div role="form" class="wpcf7" id="wpcf7-f554-o1" lang="en-US" dir="ltr">
					<div class="screen-reader-response"></div>
					<div class="wpcf7-form">
						<div class="form-group">
						   <span class="wpcf7-form-control-wrap your-email"><input id="val-email" type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="abc@xyz.com"></span>
						</div>
						<div class="form-group">
						   <input type="submit" class="btn btn-secondary pull-right" id="receive-email" value="Gửi">
						</div>
						<div class="wpcf7-response-output wpcf7-display-none"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
													</div><!-- /.row -->
					</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-top -->
		
					<div class="footer-bottom">
				<div class="container">
					<div class="footer-bottom-inner">
						<div class="footer-bottom-left">
									<div id="text-2" class="widget widget_text">			<div class="textwidget">© All rights Happy real <span class="separator">/</span> Created by <a href="https://www.facebook.com/quocanh.vanviet" target="_blank">&nbsp;Van Viet Quoc Anh</a> <span class="separator">/</span> Powered by <a href="http://wprealia.com">Happy Real</a></div>
		</div>								</div><!-- /.footer-bottom-left -->
							
															<div class="footer-bottom-right">
									<div id="nav_menu-2" class="widget widget_nav_menu">
										<div class="menu-footer-container">
											<ul id="menu-footer" class="menu">
												<li id="menu-item-534" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-534">
																		</div><!-- /.footer-bottom-inner -->
				</div><!-- /.container -->
			</div><!-- /.footer-bottom -->
			</div><!-- /.footer -->
</div><!-- /.page-wrapper -->

<!-- <script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/infobox.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/markerclusterer.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/mapescape/js/mapescape.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/jquery-google-map.js?ver=0.8.6"></script> -->
<script type="text/javascript" src="./content/plugins/HappyReal/assets/js/realia.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/preview.byaviators.com\/theme\/realia\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal-favorites/assets/js/HappyReal-favorites.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal-property-carousel/libraries/owl.carousel/owl.carousel.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/colorbox/jquery.colorbox-min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./includes/js/wp-embed.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./js/events/controler.js"></script>


<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div>
<div class="popup-alert" style="display: none">
	<div class="popup-alert-container">
		<div class="popup-alert-container-content">
			<h1 class="popup-alert-container-content-title"></h1>
			<button class="popup-alert-container-content-btn btn-primary" id="close-alert">Close</button>
		</div>
	</div>
</div>
</body></html>