<!DOCTYPE html>
<html lang="vi"><head><style type="text/css">.gm-control-active img{box-sizing:content-box;pointer-events:none}.gm-control-active:hover img:nth-child(1),.gm-control-active:active img:nth-child(1),.gm-control-active:active img:nth-child(2){display:none}
</style><link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"><style type="text/css">.gm-ui-hover-effect{opacity:.7}.gm-ui-hover-effect:hover{opacity:1}
</style><style type="text/css">.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style type="text/css">@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style type="text/css">.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style>
    <%-infoCompany.metaSEO%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%-infoCompany.companyName%> – Đà Nẵng - Bất động sản</title>
<meta property="og:title" content="Đất nền hoà xuân Đà Nẵng">
	<link rel="alternate" type="application/rss+xml" title="<%-infoCompany.companyName%> » Video Đất nền hoà xuân Đà Nẵng" href="./">
        <script src="./includes/js/wp-emoji-release.min.js?ver=4.4.1" type="text/javascript"></script>
        <style type="text/css">
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
     #map {
        height: 40em;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2">
<link rel="stylesheet" id="mapescape.css-css" href="./content/plugins/HappyReal/libraries/mapescape/css/mapescape.css?ver=20160604" type="text/css" media="all">
<link rel="stylesheet" id="contact-form-7-css" href="./content/plugins/contact-form-7/includes/css/styles.css?ver=4.3.1" type="text/css" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
<link rel="stylesheet" href="./stylesheets/customTable.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff">
<link rel="stylesheet" id="fontawesome-css" href="./content/themes/HappyReal/assets/libraries/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="open-sans-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&amp;subset=latin%2Clatin-ext&amp;ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="colorbox-css" href="./content/themes/HappyReal/assets/libraries/colorbox/example1/colorbox.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="pictopro-css" href="./content/themes/HappyReal/assets/libraries/fonts/PictoPro/style.css?ver=4.4.1" type="text/css" media="all">
<link rel="stylesheet" id="HappyReal-css-css" href="./content/themes/HappyReal/assets/css/HappyReal.css?ver=20170117" type="text/css" media="all">
<link rel="stylesheet" id="style-css" href="./content/themes/HappyReal/style.css?ver=4.4.1" type="text/css" media="all">
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCe1F9nnU_h75yopZAOtHw-atE4Ix54YcM&libraries=places"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery.js?ver=1.11.3"></script>
<script type="text/javascript" src="./includes/js/jquery/jquery-migrate.min.js?ver=1.2.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery.chained.remote.custom.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/js/HappyReal.js?ver=20161017"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/owl.carousel.min.js"></script>
<link rel="stylesheet" href="./css/normalize.css" />
<link rel="stylesheet" href="./css/ion.rangeSlider.css" />
<link rel="stylesheet" href="./css/ion.rangeSlider.skinFlat.css" />
<link rel="stylesheet" href="./assets/css/fixer.css" />
</head>
<style type="text/css" media="screen">
    .fix-zalo{
        display: none;
    }
    .fix-icon-zalo{
        line-height: 1em;
        width: 20px;
        height: 20px;
        margin-right: 1em;
        background: url('./assets/images/zalo.png') no-repeat center center;
        background-size: 100%;
    }
    @media screen and (min-width: 768px){
        .fix-zalo{
            display: flex;
        }
    }
</style>
<body class="home page page-id-268 page-template-default">
    <div class="" style="position: fixed; right: 0px; bottom: 10em; z-index: 999999;">
        <div>
            <div class="fix-icon-zalo" style="width: 35px; height: 35px; margin-right: 0;"></div>
        </div>
        <div id="showmap" style="border-radius: .5em; background: #02344a; ">
        </div>
    </div>
    <%-chatbox%>
<div class="page-wrapper">
    <div class="header">
        <nav class="navbar navbar-default">
            <div class="header-top">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="./"><img class="fix-logo" src="./logo/logo.jpg" alt="Home">                           
                            <span><%-infoCompany.companyName%></span>
                        </a>
                        <button type="button" class="navbar-toggle collapsed fix-pos" data-toggle="collapse" data-target="#primary-menu" >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div><!-- /.navbar-header -->
                        <div class="navbar-info">
                            <i class="pp pp-normal-phone"></i> <a href="tel:<%-infoCompany.phoneNumber%>‬"><%-infoCompany.phoneNumber%>‬</a>                        
                        </div><!-- /.navbar-info -->
                        <div class="navbar-info">
                            <i class="pp pp-normal-pencil"></i> <a href="mailto:<%-infoCompany.email%>"><%-infoCompany.email%></a>                      
                        </div><!-- /.navbar-info -->
                        <div class="navbar-info fix-zalo">
                            <div class="fix-icon-zalo"></div> <a href="https://zalo.me/<%-infoCompany.phoneNumber%>‬"><%-infoCompany.phoneNumber%>‬</a>
                        </div><!-- /.navbar-info -->
                        </a>
                                    </div><!-- /.container -->
                    </div><!-- /.header-top -->
        
                            <div class="header-bottom">
                    <div class="container">
                        <div class="menu-primary-container">
                            <ul id="primary-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
                                <li id="menu-item-449" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496">
                                    <a href="/">Trang chủ</a>
                                </li>
                                <li id="menu-item-450" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-450">
									<a style="cursor: pointer">Các khu vực</a>
									<ul class="dropdown-menu sub-menu">
										<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454">
											<a href="/?Khu+Vực=nguyen-tri-phuong-happy-real" style="cursor: pointer">Nguyễn Tri Phương</a>
										</li>
										<li id="menu-item-454" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-454">
											<a href="/?Khu+Vực=nam-hoa-xuan-happy-real" style="cursor: pointer">Nam Hòa Xuân</a>
										</li>
										<li id="menu-item-455" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-455">
											<a href="/?Khu+Vực=dao-vip-happy-real" style="cursor: pointer">Đảo VIP</a>
										</li>
										<li id="menu-item-480" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-480">
											<a href="/?Khu+Vực=hoa-xuan-1a-happy-real" style="cursor: pointer">Hòa Xuân 1A</a>
										</li>
										<li id="menu-item-487" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-487">
											<a href="/?Khu+Vực=lang-chau-au-1-happy-real" style="cursor: pointer">Làng Châu Âu</a>
										</li>
										<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-479">
											<a href="/?Khu+Vực=lang-chau-au-2-happy-real" style="cursor: pointer">Làng Châu Âu 2</a>
										</li>
									</ul>
								</li>
<li id="menu-item-466" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="view-video-<%-infoCompany.companyName.split(' ').join('-').toLowerCase()%>">Video</a></li>
<li id="menu-item-496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-496"><a href="/gui-ban-<%-infoCompany.companyName.split(' ').join('-').toLowerCase()%>">Gửi Bán</a></li>
<li id="menu-item-494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-494"><a href="/lien-he-<%-infoCompany.companyName.split(' ').join('-').toLowerCase()%>">Liên Hệ</a></li>
</ul></div></div><!-- /.container -->
                </div><!-- /.header-bottom -->
                    </nav>
    </div><!-- /.header -->
    <div class="main">
<script src="./js/events/happy-real-script.js"></script>
        <div class="container">
                <div class="sidebar-top" style="margin-top: 0em;">
        


<!-- table -->
<div class="row">
    <div class="content col-sm-12 col-md-12" style="padding: 0px">
<div class="container sidebar-top">
    <div id="filter_rent_sale_widget-2" class="widget widget_filter_rent_sale_widget">

<div class="tabs">


    
    <div class="tabs-content">

            
        <div class="tab-content rent-tab active" id="filter_rent_sale_widget-2-rent">
        </div>

    
    </div>
</div>

</div>  </div><!-- /.sidebar -->
</div>
    </div>

</div>  
<!-- table       -->
<div class="row">
    <div class="content col-sm-12 col-md-12">
        
                                    
<article id="post-268" class="post-268 page type-page status-publish hentry">
    
    <header class="entry-header page-header">
                    <h1>Video mới</h1>
            </header><!-- .entry-header -->
</article><!-- #post-## -->        
<div id="properties_widget-3" class="widget widget_properties_widget">
        <div class="type-box item-per-row-3">
                        <div class="properties-row">
                            <%for (var i = 0; i < result.length; i++) {%>
                                <%if(result[i].linkvideo!==""){%>
                                    <div class="property-container">
                                        <iframe src="https://www.youtube.com/embed/<%-result[i].linkvideo.split('?v=')[1].split('&')[0]%>" style="width: 100%;" frameborder="0" allowfullscreen>></iframe>
                                    </div> 
                                <%}%>
                            <%}%>
                        </div>
    
    
</div>  </div><!-- /.sidebar -->
</div><!-- /.row -->
        <div id="aviators_features_circles-2" class="widget widget_aviators_features_circles">
        <div class="fullwidth background-white">
            <div class="row">                                                                                                               
                                       </div><!-- /.feature-wrapper -->
                            </div><!-- /.clearfix -->
        </div><!-- /.div -->

        </div>
    
        <div id="aviators_call_to_action-2" class="widget widget_aviators_call_to_action">
        <div class="fullwidth background-secondary">
            <div class="row">
                <div class="call-to-action-text col-sm-12 col-md-12">
                    <b><%-infoCompany.companyName%></b>  &nbsp; luôn cố gắng hết mình vì niềm tin của bạn giao phó              </div>
            </div><!-- /.row -->
        </div><!-- /.fullwidth -->

        </div>
            </div><!-- /.container -->
    </div><!-- /.main -->

    <div class="footer">
                    <div class="footer-top">
                <div class="container">
                    <div class="footer-top-inner">
                        <div class="row">
                            
                                                            <div class="widget-container col-sm-6 col-md-6">
                                    <div id="text-3" class="widget widget_text"><h2 class="widgettitle">Thông tin liên hệ:</h2>
            <div class="textwidget">Mọi trao đổi và giải đáp mọi thông tin chi tiết vui lòng liên hệ:  
<dl>
<dt><i class="pp pp-normal-map-pointer"></i><%-infoCompany.location.street%></dt><dd><%-infoCompany.location.contry%> - <%-infoCompany.location.city%></dd>
<dt><i class="pp pp-normal-phone"></i> <a href="tel:<%-infoCompany.phoneNumber%>‬" style="color:#fff"><%-infoCompany.phoneNumber%>‬</a> </dt><dd><a href="mailto:<%-infoCompany.email%>" style="color: rgba(255, 255, 255, 0.7)"><%-infoCompany.email%></a></dd>
<dt><i class="pp pp-normal-clock"></i> Thứ 2 - Thứ 7</dt><dd>8:00 - 18:00</dd>
</dl></div>
        </div>                              </div>
                            
    <div class="widget-container col-sm-6 col-md-6">
        <div id="text-4" class="widget widget_text"><h2 class="widgettitle">Nhận email từ chúng tôi:</h2>
            <div class="textwidget">Nhận thông tin mới nhất về bất động sản và các biến động từ chúng tôi qua email:
                <hr>
                <div role="form" class="wpcf7" id="wpcf7-f554-o1" lang="en-US" dir="ltr">
                    <div class="screen-reader-response"></div>
                    <div class="wpcf7-form">
                        <div class="form-group">
                           <span class="wpcf7-form-control-wrap your-email"><input id="val-email" type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="abc@xyz.com"></span>
                        </div>
                        <div class="form-group">
                           <input type="submit" class="btn btn-secondary pull-right" id="receive-email" value="Gửi">
                        </div>
                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                                    </div><!-- /.row -->
                    </div><!-- /.footer-bottom-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-top -->
        
                    <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom-inner">
                        <div class="footer-bottom-left">
                                    <div id="text-2" class="widget widget_text">            <div class="textwidget"><%-new Date().getFullYear()%> © <%-infoCompany.companyName%><span class="separator">/</span> Powered by <a href="https://nodejs.org" target="_blank">Node.js</a></div>
        </div>                              </div><!-- /.footer-bottom-left -->
                            
                                                            <div class="footer-bottom-right">
                                    <div id="nav_menu-2" class="widget widget_nav_menu">
                                        <div class="menu-footer-container">
                                            <ul id="menu-footer" class="menu">
                                                <li id="menu-item-534" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item menu-item-home menu-item-534">
                                                                        </div><!-- /.footer-bottom-inner -->
                </div><!-- /.container -->
            </div><!-- /.footer-bottom -->
            </div><!-- /.footer -->
</div><!-- /.page-wrapper -->

<!-- <script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/infobox.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/markerclusterer.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/mapescape/js/mapescape.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal/libraries/jquery-google-map/jquery-google-map.js?ver=0.8.6"></script> -->
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20"></script>
<script type="text/javascript" src="./content/plugins/contact-form-7/includes/js/scripts.js?ver=4.3.1"></script>
<script type="text/javascript" src="./content/plugins/HappyReal-favorites/assets/js/HappyReal-favorites.js?ver=4.4.1"></script>
<script type="text/javascript" src="./content/themes/HappyReal/assets/libraries/colorbox/jquery.colorbox-min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./includes/js/wp-embed.min.js?ver=4.4.1"></script>
<script type="text/javascript" src="./js/events/controler.js"></script>


<div id="cboxOverlay" style="display: none;"></div><div id="colorbox" class="" role="dialog" tabindex="-1" style="display: none;"><div id="cboxWrapper"><div><div id="cboxTopLeft" style="float: left;"></div><div id="cboxTopCenter" style="float: left;"></div><div id="cboxTopRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxMiddleLeft" style="float: left;"></div><div id="cboxContent" style="float: left;"><div id="cboxTitle" style="float: left;"></div><div id="cboxCurrent" style="float: left;"></div><button type="button" id="cboxPrevious"></button><button type="button" id="cboxNext"></button><button id="cboxSlideshow"></button><div id="cboxLoadingOverlay" style="float: left;"></div><div id="cboxLoadingGraphic" style="float: left;"></div></div><div id="cboxMiddleRight" style="float: left;"></div></div><div style="clear: left;"><div id="cboxBottomLeft" style="float: left;"></div><div id="cboxBottomCenter" style="float: left;"></div><div id="cboxBottomRight" style="float: left;"></div></div></div><div style="position: absolute; width: 9999px; visibility: hidden; display: none; max-width: none;"></div></div>
<div class="popup-alert" style="display: none">
    <div class="popup-alert-container">
        <div class="popup-alert-container-content">
            <h1 class="popup-alert-container-content-title"></h1>
            <button class="popup-alert-container-content-btn btn-primary" id="close-alert">Close</button>
        </div>
    </div>
</div>
<script>
    jQuery(document).ready(function($) {
        let heightIframe = Math.round(parseFloat($("iframe").css("width").split("px").join(""))/1.777777);
        $("iframe").css("height", heightIframe)
    });
</script>
<script type="text/javascript" src="./js/goToTop.js"></script>
</body></html>